.env
/dags/archive/*
/test/student.env
/logs/*
/dags/__pycache__
/dags/*
!dags/utils.py
!dags/tutorial.py
!dags/starter_dag.py
!dags/libs/
!dags/sftp_template_dag.py
!dags/api_template_dag.py
!dags/mongo_template_dag.py
/config/*
/archive/*
!dags/libs/openmeteopy/
/staging/*
!/staging/
!/staging/api/
!/staging/mongo/
!/staging/sftp/
!/staging/api/processed_dates.txt
!/staging/mongo/processed_dates.txt
!/staging/sftp/processed_dates.txt
/test/sftp_downloads/*
!test/sftp_downloads/
student_dags/*
GEMINI.md
AGENTS.md